<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TIKTIK</title>
  <!-- Animate.css -->
  <link rel="stylesheet" href="/public/css/animate.css">
  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="/public/css/icomoon.css">
  <!-- Ion Icon Fonts-->
  <link rel="stylesheet" href="/public/css/ionicons.min.css">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="/public/css/bootstrap.min.css">

  <!-- Magnific Popup -->
  <link rel="stylesheet" href="/public/css/magnific-popup.css">

  <!-- Flexslider  -->
  <link rel="stylesheet" href="/public/css/flexslider.css">

  <!-- Owl Carousel -->
  <link rel="stylesheet" href="/public/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/public/css/owl.theme.default.min.css">

  <!-- Date Picker -->
  <link rel="stylesheet" href="/public/css/bootstrap-datepicker.css">
  <!-- Flaticons  -->
  <link rel="stylesheet" href="/public/fonts/flaticon/font/flaticon.css">

  <!-- Theme style  -->
  <link rel="stylesheet" href="/public/css/style.css">

  <link rel="stylesheet" href="/public/orderCSS/newOrder.css">
  <!-- Include FontAwesome CSS from CDN -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

</head>

<body>
  <div class="colorlib-loader "></div>


  <div id="page">
    <nav class="colorlib-nav " role="navigation">
      <div class="top-menu">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-md-9">
              <div id="colorlib-logo"><a href="/home">TIKTIK</a></div>
            </div>
            <div class="col-sm-5 col-md-3">
              <form action="#" class="search-wrap">
                <div class="form-group">
                  <input type="search" class="form-control search" placeholder="Search">
                  <button class="btn btn-primary submit-search text-center" type="submit"><i
                      class="icon-search"></i></button>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 text-left menu-1">
              <ul>
                <li class=""><a href="/home">Home</a></li>
                <li class="has-dropdown">
                  <a href="/watches">Watches</a>
                </li>


                <!-- <li><a href="women.html">COllection</a></li> -->

                <li><a href="">Contact</a></li>


                <li><a href="">About</a></li>

                <li class="cart "><a href="/wishList"><i class="iconwishlist"></i><svg
                      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
                      <path
                        d="m12 20.703.343.667a.748.748 0 0 1-.686 0l-.003-.002-.007-.003-.025-.013a31.138 31.138 0 0 1-5.233-3.576C3.8 15.573 1 12.332 1 8.514v-.001C1 5.053 3.829 2.5 6.736 2.5 9.03 2.5 10.881 3.726 12 5.605 13.12 3.726 14.97 2.5 17.264 2.5 20.17 2.5 23 5.052 23 8.514c0 3.818-2.801 7.06-5.389 9.262a31.148 31.148 0 0 1-5.233 3.576l-.025.013-.007.003-.002.001ZM6.736 4C4.657 4 2.5 5.88 2.5 8.514c0 3.107 2.324 5.96 4.861 8.12a29.655 29.655 0 0 0 4.566 3.175l.073.041.073-.04c.271-.153.661-.38 1.13-.674.94-.588 2.19-1.441 3.436-2.502 2.537-2.16 4.861-5.013 4.861-8.12C21.5 5.88 19.343 4 17.264 4c-2.106 0-3.801 1.389-4.553 3.643a.751.751 0 0 1-1.422 0C10.537 5.389 8.841 4 6.736 4Z">
                      </path>
                    </svg></a></li>

                <li class=" wishlist "><a href="/cart"><i class="icon-shopping-cart"></i></a></li>

                <li class="user dropdown">
                  <a href="#" class="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
                    aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                      class="bi bi-person" viewBox="0 0 16 16">
                      <path
                        d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                    </svg>
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout">Log out</a></li>
                    <li><a href="/userprofile">Profile</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="sale bg-dark">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center">
              <div class="row">
                <div class="owl-carousel2">
                <div class="item">
                        <div class="col">
                            <h3><a href="#">15% off (Almost) Everything! Use Code:summer901!</a></h3>
                        </div>
                    </div>
                    <div class="item">
                        <div class="col">
                            <h3><a href="#">Our biggest sale yet 10% off all Watches</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class=""><span><a href="/home">Home</a></span> / <span>cart</span> / <span>Checkout</span>/ <span
                class="bread">orderComplete</span></p>
          </div>
        </div>
      </div>
    </div>


    <div class="colorlib-product">
      <div class="container">
        <div class="row row-pb-lg">
          <div class="col-sm-10 offset-md-1">
            <div class="process-wrap">
              <div class="process text-center active">
                <p><span>01</span></p>
                <h3>Shopping Cart</h3>
              </div>
              <div class="process text-center active">
                <p><span>02</span></p>
                <h3>Checkout</h3>
              </div>
              <div class="process text-center active">
                <p><span>03</span></p>
                <h3>Order Complete</h3>
              </div>
            </div>
          </div>
        </div>


        <section class="h-100 gradient-custom">
          <div class="container py-5 h-100">
            <div class="d-flex justify-content-end mt-3">
              <% const lastOrder=orders[orders.length - 1]; %>
              <button class="btn btn-success" onclick="redirectToinvoice('<%= lastOrder._id %>',)">
                <i class="fas fa-file-invoice"></i> Generate Invoice
              </button>
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-lg-10 col-xl-8">
                <div class="card" style="border-radius: 10px;">
                  <div class="card-header px-4 py-5">
                    <h3 class="text-muted mb-0 text-center">Thanks for your Order, <span style="color: #a8729a;">
                        <%= user.name %>
                      </span>!</h3>
                  </div>
                  <% if (orders.length> 0) { %>
                    <% const lastOrder=orders[orders.length - 1]; %>
                      <div class="card-body p-4">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                          <p class="lead fw-normal mb-0" style="color: #a8729a;">Receipt</p>
                          <p class="small text-muted mb-0">Receipt Voucher : <%= lastOrder.orderId %>
                          </p>
                        </div>
                        <div class="card shadow-0 border mb-4">
                          <% lastOrder.products.forEach(product=> { %>
                            <div class="card-body">
                              <div class="row">
                                <div class="col-md-2">
                                  <img src="/public/uploadProduct/<%= product.product.image[0] %>" class="img-fluid"
                                    alt="Phone">
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0">
                                    <%= product.product_name %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">
                                    <%= lastOrder.paymentMethod %>
                                  </p>
                                </div>

                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">
                                    <%= product.product.product_sales_price %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">
                                    <%= product.quantity %>
                                  </p>
                                </div>
                                <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                  <p class="text-muted mb-0 small">₹<%=
                                      (product.quantity*product.product.product_sales_price).toFixed(2) %>
                                  </p>
                                </div>
                              </div>

                            </div>
                            <% }); %>
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                          <p class="fw-bold mb-0">Order Details</p>
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                          <p class="text-muted mb-0">Invoice Number:<span id="invoiceId"></span></p>
                          <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> ₹
                            <%=cart.couponDiscount.toFixed(2)%>
                          </p>
                        </div>

                        <div class="d-flex justify-content-between">
                          <p class="text-muted mb-0">Invoice Date :<%= lastOrder.createdAt.toDateString() %>
                          </p>
                          <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges:</span> 30.00</p>
                        </div>

                        <div class="d-flex justify-content-between mb-5">
                          <p class="text-muted mb-0">Recepits Voucher : <%= lastOrder.orderId %>
                          </p>

                        </div>

                        <div class="d-flex justify-content mb-5">

                          <p class="text-muted mb-0">
                            <%= lastOrder.shippingAddress.address %>,<%= lastOrder.shippingAddress.state %>,<br>
                                <%= lastOrder.shippingAddress.country %>,<br>
                                  <%= lastOrder.shippingAddress.email %>,<br>
                                    <%= lastOrder.shippingAddress.phoneNumber %>
                          </p>
                        </div>

                      </div>


                      <div class="card-footer border-0 px-4 py-5"
                        style="background-color: #a8729a; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                        <h5 class="d-flex align-items-center justify-content-end text-white text-uppercase mb-0">Total
                          paid: <span class="h2 mb-0 ms-2">₹<%=lastOrder.total_amount%></span></h5>

                        <a href="/home" class="btn btn-primary btn-outline-primary">Home</a>
                        <a href="/watches" class="btn btn-primary btn-outline-primary"><i
                            class="icon-shopping-cart"></i> Continue Shopping</a>
                      </div>

                      <% } else { %>
                        <p>No orders have been placed yet.</p>
                        <% } %>
                </div>

              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <footer id="colorlib-footer" role="contentinfo">
      <div class="container">
        <div class="row row-pb-md">
          <div class="col footer-col colorlib-widget">
            <h4>About TIKTIK</h4>
            <p>YOU CAN BUY TIME</p>
            <p>
            <ul class="colorlib-social-icons">
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-linkedin"></i></a></li>
              <li><a href="#"><i class="icon-dribbble"></i></a></li>
            </ul>
            </p>
          </div>
          <div class="col footer-col colorlib-widget">
            <h4>Customer Care</h4>
            <p>
            <ul class="colorlib-footer-links">
              <li><a href="#">Contact</a></li>
              <li><a href="#">Returns/Exchange</a></li>
              <li><a href="#">Gift Voucher</a></li>
              <li><a href="#">Wishlist</a></li>
              <li><a href="#">Special</a></li>
              <li><a href="#">Customer Services</a></li>
              <li><a href="#">Site maps</a></li>
            </ul>
            </p>
          </div>
          <div class="col footer-col colorlib-widget">
            <h4>Information</h4>
            <p>
            <ul class="colorlib-footer-links">
              <li><a href="#">About us</a></li>
              <li><a href="#">Delivery Information</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">Order Tracking</a></li>
            </ul>
            </p>
          </div>

          <div class="col footer-col">
            <h4>News</h4>
            <ul class="colorlib-footer-links">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="#">Press</a></li>
              <li><a href="#">Exhibitions</a></li>
            </ul>
          </div>

          <div class="col footer-col">
            <h4>Contact Information</h4>
            <ul class="colorlib-footer-links">
              <li>LuLu International Shopping Malls Pvt. Ltd, <br>34/1000, N.H 47,Edapally, Kochi - 682 024, Kerala</li>
              <li><a href="tel://1234567920">+ 91 8590228054</a></li>
              <li><a href="mailto:info@yoursite.com">tiktik@tiktik.com</a></li>
              <li><a href="#">yoursite.com</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copy">
        <div class="row">
          <div class="col-sm-12 text-center">
            <p>
              <span><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>



  <!-- jQuery -->
  <script src="/public/js/jquery.min.js"></script>
  <!-- popper -->
  <script src="/public/js/popper.min.js"></script>
  <!-- bootstrap 4.1 -->
  <script src="/public/js/bootstrap.min.js"></script>
  <!-- jQuery easing -->
  <script src="/public/js/jquery.easing.1.3.js"></script>
  <!-- Waypoints -->
  <script src="/public/js/jquery.waypoints.min.js"></script>
  <!-- Flexslider -->
  <script src="/public/js/jquery.flexslider-min.js"></script>
  <!-- Owl carousel -->
  <script src="/public/js/owl.carousel.min.js"></script>
  <!-- Magnific Popup -->
  <script src="/public/js/jquery.magnific-popup.min.js"></script>
  <script src="/public/js/magnific-popup-options.js"></script>
  <!-- Date Picker -->
  <script src="/public/js/bootstrap-datepicker.js"></script>
  <!-- Stellar Parallax -->
  <script src="/public/js/jquery.stellar.min.js"></script>
  <!-- Main -->
  <script src="/public/js/main.js"></script>
  <script src="/public/cdnjs/crypto-js.js"></script>


</body>

<script>
  window.onload = function () {
    // Retrieve the invoice ID from localStorage
    const storedInvoiceId = localStorage.getItem('invoiceId');

    if (storedInvoiceId) {
      // If the invoice ID is already generated, use the stored value
      document.getElementById('invoiceId').innerText = storedInvoiceId;
    } else {
      // If the invoice ID is not generated, generate and store it
      generateInvoice();
    }
  };

  function generateInvoice() {
    
    // Generate a random alphanumeric string for the invoice ID
    const invoiceId = Math.random().toString(36).substring(2, 10).toUpperCase();

    // Display the generated invoice ID on the page
    document.getElementById('invoiceId').innerText = invoiceId;

    // Store the generated invoice ID in localStorage
    localStorage.setItem('invoiceId', invoiceId);
  }

  function redirectToinvoice(orderId){
    const invoice = document.getElementById('invoiceId').innerText
    const encryptedOrderId = CryptoJS.AES.encrypt(orderId, 'secretKey').toString();
    const encryptedinvoiceID = CryptoJS.AES.encrypt(invoice, 'secretKey').toString();
console.log(invoice,"invoice");
console.log(encryptedOrderId,"encryptedOrderId");
console.log(encryptedinvoiceID,"encryptedinvoiceID");
let requestData = { 
  orderId: encryptedOrderId,
  invoiceId:encryptedinvoiceID
  };
let queryString = $.param(requestData);
// href="/invoice?orderId=<%= lastOrder._id %>">

// Append the query string to the URL
let urlWithParams = '/invoice?' + queryString;
window.location = urlWithParams
}
</script>

</html>